<!DOCTYPE html>
<html class="has-background-light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/app.css" rel="stylesheet">
</head>
<body id="app" data-page="{{ marshal .page }}">
    <script src="/static/js/app.js"></script>
</body>

</html>